.booking {
  background-color: #440f51;
}

.booking__data {
  flex-wrap: wrap;
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.booking__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  margin-bottom: 24px;
}

.booking__subtitle-main {
  text-align: center;
  margin-bottom: 40px;
}

.booking__rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}

.booking__label {
  position: relative;
  display: block;
  cursor: pointer;
  width: 250px;
  border-radius: 8px;
}

.booking__label-rooms {
  display: block;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 8px 15px;
}

.booking__label-rooms:hover,
.booking__label:focus {
  outline: 3px solid #640aa3;
  background-color: #eadeed;
}

.booking__label:focus {
  background-color: #fff;
}

.booking__input-rooms:checked+.booking__label-rooms {
  outline: 3px solid #fff;
  background-color: #6c0287;
  color: #fff;
}



.booking__entertainment {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.booking__entertainment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking__entertainment-label {
  padding-left: 5px;
  font-size: 22px;
}

.booking__entertainment-label:not(:last-child) {
  margin-bottom: 20px;
}

.booking__entertainment-input {
  margin-right: 12px;
  transform: scale(2);
}

.booking__entertainment-input:focus {
  outline: 1px solid #cd06ff;
}

.booking__data {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 40px;
}

.booking__data-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  margin-bottom: 5px;
  color: #fff;
}

.booking__data-wrapper {
  align-self: flex-end;
}

.booking__date-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.booking__data-date {
  width: 134px;
  padding: 12px 20px;
}

.booking__data-quantity {
  width: 300px;
  font-size: 18px;
  line-height: 135%;
  color: #211e1e;
  padding: 12px 20px;
}

.booking__data-input {
  width: 300px;
  font-size: 18px;
  line-height: 135%;
  color: #211e1e;
  padding: 12px 20px;
}

.booking__data-input:not(:last-child) {
  margin-bottom: 14px;
}

.booking__data-date:focus,
.booking__data-input:focus,
.booking__data-quantity:focus {
  outline: 2px solid #cd06ff;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.booking__button {
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6c0287;
  background-color: #fff;
  border-radius: 10px;
}

.booking__button:hover {
  outline: 3px solid #6c0287;
  background-color: #eadeed;
}

.booking__button:focus {
  outline: 3px solid #6c0287;
}

.booking__button:active {
  outline: none;
  background-color: #eadeed;
}