.picturs__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 40px;
}

.picturs__list {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.picturs__item {
  flex-basis: 380px;
  padding: 166px 40px 6px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}

.picturs__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.picturs__item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px 1px #fff;
  cursor: pointer;
}

.picturs__item-vr {
  background-image: url('../img/vr-picture.png');
}

.picturs__item-dj {
  background-image: url('../img/dj.png');
}

.picturs__item-karaoke {
  background-image: url('../img/karaoke.png');
}

.picturs__item-table {
  background-image: url('../img/table-games.png');
}

.picturs__item-films {
  background-image: url('../img/films.png');
}

.picturs__item-games {
  background-image: url('../img/video-games.png');
}