.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.reviews__list {
  font-size: 0;
  line-height: 140%;
  max-width: 980px;
  margin: 0 auto;
}

.reviews__item:not(:last-child) {
  margin: 0 0 50px;
}

.reviews__wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
}

.reviews__avatar {
  position: relative;
  width: 280px;
  height: 280px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 0 11px;
}

.reviews__avatar::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  background: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196) 0%, rgb(108, 2, 135) 100%);
  opacity: .4;
}

.reviews__avatar_maksim_style {
  filter: contrast(1.3);
  background-image: url(../img/maksim.png);
}

.reviews__avatar_oksana_style {
  filter: contrast(1.3);
  background-image: url(../img/oksana.png);
  background-position: 0 -40px;
}

.reviews__avatar_nikita_style {
  background-image: url(../img/nikita.png);
  background-position: center;
}

.reviews__cite {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.reviews__text {
  padding: 52px 0 0 0;
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 300px);
  font-size: 20px;
  line-height: 1.4;
}