.top__background {
  position: relative;
  padding: 0px 30px 179px 30px;
  z-index: 0;
}

.top__background::after {
  position: absolute;
  content: "";
  background: url('../img/vr.png') bottom right 30px no-repeat;
  inset: 0;
  z-index: 1;
}

.top__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.top__text {
  font-size: 28px;
  line-height: 1.8em;
  padding-left: 10px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.top__card {
  position: relative;
  text-align: center;
  z-index: 2;
}

.top__card {
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
  gap: 40px;
}

.top__card-item {
  max-width: 193px;
}

.top__item {
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
}

.top__item-second {
  font-size: 75px;
  font-variant: all-small-caps;
}

.top__item-text {
  font-size: 30px;
}

.button {
  display: inline-block;
  position: relative;
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  background: #6c0287;
  z-index: 2;
}

.top__down-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  z-index: 2;
}

.top__down-arrow:hover {
  background-image: url(../img/ico/down-arrow-white.png);
}

.top__down-arrow:focus {
  outline: 1px solid #cd06ff;
}

.top__down-arrow:active {
  background-image: url(../img/ico/down-arrow-purple.png);
}

.button:hover,
.button:focus {
  background-color: #840aa3;
}

.button:active {
  background-color: #640aa3;
}