:root {
  --light-violet: #cd06ff;
  --violet: #6c0287;
  --semi-violet: #640aa3;
  --dark-violet: #440F51;
  --bgColor: #eadeed;
  --bgColor2: white;

  /* карточки и gap */
  --cart-count: 3;
  --gap: 30px;
  /* в зависимости от --cart-count будет кол-во карточек */
  --flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));

}

.booking {
  --booking-color: #211e1e;
}